{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Modification du profil</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.secondname) }}
    {{ form_row(form.genre) }}
    {{ form_row(form.birthdate) }}

    <button type="submit" class="btn btn-success">Valider les modifications</button>
    {{ form_end(form) }}
    <a class="btn btn-warning" href="{{ path('profil') }}">Retour</a>
{% endblock %}